* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  background: #0d1117;
  line-height: 1.5;
  color: #c9d1d9;

  .container {
    top: 50%;
    left: 50%;
    width: 340px;
    transform: translate(-50%, -80%);
    position: absolute;
    padding: 0 16px;
    margin: 0 auto;

    .container-header {
      text-align: center;
      padding: 15px;
      margin: auto;
    }

    .container-body {
      display: grid;
      grid-gap: 10px;
      padding: 16px;
      font-size: 14px;
      position: relative;
      background: #161b22;
      border: 1px solid #21262d;
      border-radius: 8px;

      > form {
        display: block;
        margin-top: 0em;

        > label {
          display: block;
          margin-bottom: 8px;
          font-weight: 400;
          text-align: left;
        }

        > input {
          width: 100%;
          margin-top: 4px;
          margin-bottom: 16px;
          background: #0d1117;
          border: 1px solid #30363d;
          border-radius: 6px;
          padding: 5px 12px;
          color: #c9d1d9;
        }
      }

      > button {
        color: #f8f8f8;
        background: #238636;
        padding: 8px;
        border-radius: 8px;
        display: block;
        width: 100%;
        text-align: center;

        &:hover {
          background: #2ea043;
        }
      }
    }

    .container-footer {
      padding: 16px 16px;
      text-align: center;
      border: 1px solid #30363d;
      border-radius: 6px;
      margin-top: 16px;

      > a {
        color: #128aff;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  .notification {
    color: #f1f1f1;
    display: flex;
    justify-content: right;
    transition: opacity 1s linear;

    .notification-message {
      background: #333333;
      padding: 5px;
      border: #c03232 solid;
      border-radius: 6px;

      > progress {
        color: #333;
        height: 10%;
        width: 100%;
        display: block;
        line-height: 21px;
        text-align: center;
      }
    }
  }
}