* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.body-forms {
  display: grid;
  place-content: center;
  grid-gap: 10px;

  .logging {
    grid-column: 1;
    padding: 16px;
    font-size: 14px;
    background: #161b22;
    border: 1px solid #21262d;
    border-radius: 8px;

    > input {
      width: 100%;
      margin-top: 4px;
      margin-bottom: 16px;
      background: #0d1117;
      border: 1px solid #30363d;
      border-radius: 6px;
      padding: 5px 12px;
      color: #c9d1d9;
    }
  }

  .info {
    grid-column: 2;
    padding: 16px;
    font-size: 14px;
    background: #161b22;
    border: 1px solid #21262d;
    border-radius: 8px;

    > h2 {
      text-align: center;
      padding: 15px;
      margin: auto;
    }

    > input, select {
      width: 100%;
      margin-top: 4px;
      margin-bottom: 16px;
      background: #0d1117;
      border: 1px solid #30363d;
      border-radius: 6px;
      padding: 5px 12px;
      color: #c9d1d9;
    }
  }
}
