<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/assets/css/homepage.css">
        <link rel="stylesheet" href="/assets/css/index.css">
        <title>Main</title>
    </head>
    <body>
    {{template "navbar"}}
    <div class="container">
        <div class="left-column">
            <h2>H2</h2>
            <div class="teachers">
                <p>asdgiuig asdognnfguiqoetnqtbiuiopqqojwterj</p>
            </div>
        </div>
        <div class="main-info">
            <p>
                asdgubagsbdpdgbsupasidgbnpasdgnpasdg
            </p>
        </div>
    </div>
    <script src="/assets/scripts/index.js"></script>
    </body>
</html>