<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/assets/css/index.css">
        <title>Ky</title>
    </head>
    <body>
    <div class="navbar">
        <div class="dropdown">
            <button class="drop-button" onclick="Drop()">Dropdown
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content" id="Dropdown">
                <a href="/authorization">Sign up</a>
                <a href="/private/whoAmI">Profile</a>
            </div>
        </div>
    </div>
    <script src="/assets/scripts/index.js"></script>
    </body>
</html>