<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/assets/css/index.css">
        <link rel="stylesheet" href="/assets/css/footer.css">
        <title>Main</title>
    </head>
    <body>
    <header>
        <nav>
            <a href="/registration">Sign up</a>
            <a href="/authorization">Sign in</a>
            <a href="/private/whoAmI">Profile</a>
            <a href="#">4</a>
        </nav>
    </header>

    <script src="/assets/scripts/index.js"></script>
    </body>
</html>